---
title: Formular versendet
---

<div class="row">
  <div class="span12">
  <h1><%= data.page.title %></h1>
  	<p>Das Formular wurde erfolgreich versendet. Wir werden Sie in kürze kontaktieren.</p>
  	<p>Besten Dank<br>
	  	Elternverein Küttigen - Rombach
  	</p>
  </div>
</div>