---
title: Familienzentrum
metadesc: Das Familienzentrum des Elternvereines in Küttigen bietet Raum für Anlässe wie zum Beispiel Kindergeburtstage, Familienanlässe oder Workshops.
---

<div class="row">
  <aside class="span3 hidden-phone">
  	<ul id="sidebar" class="nav nav-tabs nav-stacked sidebar" data-spy="affix" data-offset-top="150">
  	  <li><a href="#Info">Info</a></li>
  	  <li><a href="#Lageplan">Lageplan</a></li>
  	  <li><a href="#Miete-Tarife">Miete</a></li>
  	  <li><a href="#Reservationen">Reservationen</a></li>
	</ul>
  </aside>
  <div class="span9">
  <h1 id="top"><%= data.page.title %></h1>
  	<div class="row">
	  	<section class="span6" id="Info">
	  	  <h2>Informationen und Bilder</h2>
	  	  <p>
		  	  Das Familienzentrum bietet viel Raum für eine vielseitige Freizeitgestaltung. Zum Beispiel:
	  	  </p>
		  	  <ul>
				<li>Kindergeburtstage</li>
				<li>Familienanlässe</li>
				<li>Workshops, Kurse</li>
				<li>Gemütliches Beisammensein</li>
				<li>Spiel und Spass</li>
		  	  </ul>
		  <p>
			  Der grosse Raum ist eingerichtet mit Garderobe, WC-Anlage, Küche mit allen Utensilien, Stühlen und Tischen, Spielsachen.
			  <a href="#Miete-Tarife"> Miete des Faz</a>	
	  	  </p>
	  	  <i class="icon-arrow-up"></i><a href="#top"> zum Anfang</a>
	  	  <hr>      
	  	</section>
	  	<div class="span3"><%= image_tag 'seiten/faz-bild.jpg', :alt => "Familienzentrum Küttigen" %></div>
  	</div>
  	<section id="Lageplan">
	  <h2>Adresse und Lageplan </h2>
	  <address>
		  <strong>Familienzentrum FAZ</strong><br>
		  alte Mühle<br>
		  5024 Küttigen<br>
		  <abbr title="Phone">T:</abbr> (062) 827-0081
	  </address>
	  	  <div>
		  	  <iframe width="100%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Hauptstrasse+36,+5024+K%C3%BCttigen&amp;aq=0&amp;oq=Hauptstrasse+36,+5024&amp;sll=46.813187,8.22421&amp;sspn=1.97753,4.685669&amp;ie=UTF8&amp;hq=&amp;hnear=Hauptstrasse+36,+5024+K%C3%BCttigen,+Aargau&amp;ll=47.41471,8.048765&amp;spn=0.002069,0.004646&amp;t=h&amp;z=14&amp;output=embed"></iframe>	  	  
		  	  </div>
	<i class=" icon-arrow-up"></i><a href="#top"> zum Anfang</a>
	<hr>      
  	</section>
  	<section id="Miete-Tarife">
	  <h2>Miete und Tarife</h2>
	  <p>
	  Mo.-Fr. 08.00 – 18.00 Uhr (übrige Zeiten und Tarife nach Absprache mit Kurt Fasnacht )
	  <br>
	  Das Familienzentrum kann gemietet werden für
	  </p>
	  <ul>
		<li>verschiedenste Kursangebote</li>
		<li>Workshops</li>
		<li>Freizeitwerkstatt</li>
	  </ul>
	  <p>
	  Bei der Vermietung haben die Zeiten der Spielgruppe und des Mittagstisches Priorität.
	  </p>
	  <p>
		<strong>Kategorie 1:</strong> 
		Feste Vermietungen für 1 Schuljahr
		Monatspauschale gemäss Absprache
	  </p>
	  <p>
		<strong>Kategorie 2:</strong><br> 
		Regelmässige Vermietungen pro Quartal oder Jahr und einmalige stundenweise Vermietungen
		Fr. 25.- für Lektionen- oder Stunden-angebot (1 bis max. 2 h, tagsüber)
		Fr. 35.- Halbtagesmiete od. Abende 
		Fr. 45.- Tagesmiete
		(Reduktion Mitglieder EVK: Fr. 5.- / Aufschlag für auswärtige Mieter: Fr. 20.-)
	  </p>
  	  <p>
		<strong>Kategorie 3:</strong><br>
		Für Freizeitwerkstatt und Aktivitäten, welche auf ehrenamtlicher Basis durchgeführt werden, steht der Raum unentgeltlich zur Verfügung. Ebenfalls für die Anlässe des EVK.
	  </p>
	<i class=" icon-arrow-up"></i><a href="#top"> zum Anfang</a>
	<hr>      
  	</section>
  	<section id="Reservationen">
	  <h2>Reservationen</h2>
	  <p>
	  	<strong>Jeannine Richner</strong><br> 
		Mo.-Fr. 08.00 – 18.00 Uhr<br> 
		062 544 29 50<br>
		<a href="mailto:js.richner@bluewin.ch">js.richner@bluewin.ch</a>
	  </p>
	  <h3>Mietvertrag und Mietbedingungen</h3>
	  <p><i class="icon-file"></i><%= link_to 'Mietvertrag (pdf)', 'download/fazmietvertrag.pdf' %></p>
	  <p><i class="icon-file"></i><%= link_to 'Mietbedingungen (pdf)', 'download/fazmietbedingungen.pdf' %></p>
	  <p>
		Übrige Zeiten:<br>
		<strong>Fasnacht Kurt</strong><br> 
		062 827 01 46<br>
		<a href="mailto:kurt.fasnacht@bluewin.ch">kurt.fasnacht@bluewin.ch</a>
	  </p>
	<i class=" icon-arrow-up"></i><a href="#top"> zum Anfang</a>
	<hr>      
  	</section>
  </div>
</div>